.header
  .container
    .header__logo: a(href='/'): img(src="./img/common/logo.svg")
    .header__nav
      nav
        ul
          li.menu: a(href='/services.html')
            +icons('#ic_square-menu', 16)
            span Все услуги
          li: a(href='/about.html') О центре
          li: a(href='/doctors.html') Врачи
          li: a(href='/news.html') Инфоцентр
          li: a(href='/price.html') Цены
          li: a(href='/contacts.html') Контакты
    .header__info
      .header__phone
        .header-phone
          .header-phone__active(data-tooltip="phone")
            a 8 500 700 60 60
            +icons('#ic_arr-down', 12)
          .header-phone__list
            ul
              li
                a(href='tel:85007006060')
                  +icons('#ic_phone')
                  span 8 500 700 60 60
                span Приемная
              li
                a(href='tel:85007006060')
                  +icons('#ic_phone')
                  span 8 800 700 60 60
                span Приемная
              li
                a(href='tel:85007006060')
                  +icons('#ic_phone')
                  span +7 910 700 60 60
                span Приемная
      .header__worktime: span Сегодня работаем с 8.00 до 20.00
    .header__signup
      button.btn(data-modal="callback" data-src="_popup-callback.html") Записаться на приём
    .header__menu
      .burger
        i
        i
        i