extends ../layouts/index
include ../../blocks/components/breadcrumb/breadcrumb.pug

block variables
  include ../../data/data.pug




block content


  section.page
    .container
      .page__title: h1 Врачи
      .page__breadcrumb: +breadcrumb(['Главная','Врачи'])

  section.section-price
    .container
      .doctors
        .doctors__filter
          ul(data-filter="doctor")
            li(data-filter-id="0"): a(href='#') Все
            li(data-filter-id="1"): a(href='#') Кардиология
            li(data-filter-id="2"): a(href='#') Урология
            li(data-filter-id="3"): a(href='#') УЗИ


        .doctors__list(data-filter-list="doctor")
          each item, index in doctor
            .doctors__item(data-filter-id=""+index+"")
              .doctors-item
                .doctors-item__photo: +bgimage(item.png)
                .doctors-item__main
                  .doctors__item-name!= item.title
                  .doctors__item-post!= item.desc
                  .doctors__item-desc Врач акушер-гинеколог высшей квалификационной категории. Врач гинеколог-эндокринолог, акушер-гинеколог первой квалификационной категории
                  .doctors__item-link: a(href='#') Подробнее



block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")   
