extends ../layouts/index
include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/news/item-news/item-news.pug
include ../../blocks/components/pagination/pagination.pug

block variables
  include ../../data/data.pug


block content

  section.page
    .container
      .page__title: h1 Инфоцентр
      .page__breadcrumb: +breadcrumb(['Главная','Инфоцентр'])

  section.section-page-news
    .container
      .page-news
        .page-news__filter
          ul(data-filter="news")
            li(data-filter-id="0"): a(href='#') Новости
            li(data-filter-id="1"): a(href='#') Акции
        .page-news__list(data-filter-list="news")
          each item, index in news
            .page-news__item(data-filter-id=""+(index > 5 ? '0':'1')+""): +item-news(item)

        .page-news__pagination: +pagination()




block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")   
