extends ../layouts/index
include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/news/item-news/item-news.pug
include ../../blocks/components/pagination/pagination.pug

block variables
  include ../../data/data.pug


block content

  section.page
    .container
      .page__title: h1 Изменение условий предоставления скидок постоянным клиентам
      .page__breadcrumb: +breadcrumb(['Главная','Изменение условий предоставления скидок постоянным клиентам'])

  section.section-news-details
    .container
      .news-details
        .news-details__article
          .news-details__image
            span(style="background-image: url(/img/news/details.jpg)")
          .news-details__text
            p Ультразвуковое исследование – неинвазивный метод диагностики для изучения структуры органов и тканей. На основе полученной информации специалист поставит точный диагноз и подберет лечение. УЗИ в Могилеве актуально и вовремя беременности – будущие родители смогут оценить состояние и развитие плода, увидеть его в режиме реального времени.Ультразвуковое исследование – неинвазивный метод диагностики для изучения структуры органов и тканей. На основе полученной информации специалист поставит точный диагноз и подберет лечение. УЗИ в Могилеве актуально и вовремя беременности – будущие родители смогут оценить состояние и развитие плода, увидеть его в режиме реального времени.Ультразвуковое исследование – неинвазивный метод диагностики для изучения структуры органов и тканей. На основе полученной информации специалист поставит точный диагноз и подберет лечение. УЗИ в Могилеве актуально и вовремя беременности – будущие родители смогут оценить состояние и развитие плода, увидеть его в режиме реального времени.
            p Ультразвуковое исследование – неинвазивный метод диагностики для изучения структуры органов и тканей. На основе полученной информации специалист поставит точный диагноз и подберет лечение. УЗИ в Могилеве актуально и вовремя беременности – будущие родители смогут оценить состояние и развитие плода, увидеть его в режиме реального времени.

            ul
              li Маркированный список
              li Маркированный список
              li Маркированный список
              li Маркированный список

            ol
              li Нумерованный список
              li Нумерованный список
              li Нумерованный список
              li Нумерованный список

            h1 Заголовок Н1
            h2 Заголовок Н2
            h3 Заголовок Н3
            h4 Заголовок Н4
            h5 Заголовок Н6

            strong strong
            i italic

            p Ультразвуковое исследование – неинвазивный метод диагностики для изучения структуры органов и тканей. На основе полученной информации специалист поставит точный диагноз и подберет лечение. УЗИ в Могилеве актуально и вовремя беременности – будущие родители смогут оценить состояние и развитие плода, увидеть его в режиме реального времени.


            img(src="/img/news/1.jpg")
          .news-details__action
            .news-details__back
              a(href="news.html") Вернуться к списку новостей
            .news-details__social
              span Поделиться новостью
              ul.social-link
                li: a(href='#'): +icons('#ic_ig')
                li: a(href='#'): +icons('#ic_vk')
                li: a(href='#'): +icons('#ic_fb')
        .news-details__aside
          each item, index in news
            if index < 3
              +item-news(item)





block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")   
