extends ../layouts/index
include ../../blocks/components/breadcrumb/breadcrumb.pug

block variables
  include ../../data/data.pug




block content


  section.page
    .container
      .page__title: h1 Цены
      .page__breadcrumb: +breadcrumb(['Главная','Цены'])

  section.section-price
    .container
      .price
        .price__filter
          ul(data-filter="price")
            li(data-filter-id="1").active: a(href='#') Все
            li(data-filter-id="2"): a(href='#') Кардиология
            li(data-filter-id="3"): a(href='#') Урология
            li(data-filter-id="4"): a(href='#') УЗИ


        .price__table
          .table(data-filter-list="price")
            .table__th
              .table__td Наименование услуги
              .table__td.price__cost Стоимость 

            each item, index in price
              .table__th(data-filter-id=""+index+"")
                .table__td= item.title
                .table__td.price__cost
                  span= item.cost+'.' 
                    sup 00
                      span  BYN

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")   
