.item-news {

    &__image {

        position: relative;

        & .bgimage {
            padding-top: 70%;
            @include bgimage-cover;

            &:hover {
                transition: 0.3s cubic-bezier(.18, .89, .32, 1.28);
                transform: translateY(-5px);
            }
        }

        & .news-date {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $lgreen;
            padding: 0.5em 1em;
            font-family: New_Channel_Font;
            @include font-size-16();
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    &__title {
        @include block-title();

        padding-top: rem(20);

        &:hover {
            text-decoration: underline;
        }
    }

    &__desc {
        color: #575757;
        @include font-size-14();
        line-height: 170%;

        padding-top: rem(15);
    }

    &__btn {

        padding-top: rem(15);

        & a {
            font-family: New_Channel_Font;
            @include font-size-16();
            line-height: 16px;
            text-transform: uppercase;
            color: #40857D;
            padding-bottom: rem(8);
            border-bottom: 1px solid #B9B9B9;
        }
    }
}