mixin item-news(item)
  .item-news
    .item-news__image
      a(href='/news-details.html'): +bgimage(item.image)
      span.news-date 11.05.2021
    .item-news__title: a(href='/news-details.html')= item.title 
    .item-news__desc= item.desc
    .item-news__btn: a(href='/news-details.html') Подробнее