mixin item-news(item)
  .item-news
    .item-news__image: a(href='#'): +bgimage(item.image)
    .item-news__title: a(href='#')= item.title
    .item-news__desc= item.desc
    .item-news__btn: a(href='#') Подробнее