extends layouts/index
include ../blocks/components/video/video
include ../blocks/modules/news/item-news/item-news.pug

block variables
  include ../data/data.pug



block header
  .header
    .container
      .header__logo: a(href='/'): img(src="./img/common/logo.svg")
      .header__nav
        nav
          ul
            li.menu: a(href='#')
              +icons('#ic_square-menu', 16)
              span Все услуги
            li: a(href='#') О центре
            li: a(href='#') Врачи
            li: a(href='#') Инфоцентр
            li: a(href='#') Контакты
      .header__info
        .header__phone
          .header-phone
            .header-phone__active(data-modal="phone")
              a 8 500 700 60 60
              +icons('#ic_arr-down', 12)
            .header-phone__list
              ul
                li
                  a(href='tel:85007006060')
                    +icons('#ic_phone')
                    span 8 500 700 60 60
                  span Приемная
                li
                  a(href='tel:85007006060')
                    +icons('#ic_phone')
                    span 8 800 700 60 60
                  span Приемная
                li
                  a(href='tel:85007006060')
                    +icons('#ic_phone')
                    span +7 910 700 60 60
                  span Приемная
        .header__worktime: span Сегодня работаем с 8.00 до 20.00
      .header__signup
        button.btn(data-modal="callback" data-src="_popup-callback.html") Записаться на приём
      .header__menu
        .burger
          i
          i
          i

block content

  section.section-main-slider
    .main-slider
      .main-slider__bg
      .main-slider__content
        .swiper-container
          .swiper-wrapper
            .swiper-slide(data-color-bg="#99B6C6, #BCD8E5")
              .main-slider-slide
                .main-slider-slide__text
                  .main-slider-slide__title Скидка 10% на консультацию врача кардиолога
                  .main-slider-slide__subtitle Акция! С 22 октября скидка на консультацию врача кардиолога – 10%.⠀Вас беспокоит боль в груди или затруднение дыхание? Не откладывайте посещение кардиолога, решайте проблему уже сегодня!
                .main-slider-slide__image: +bgimage('./img/common/main-slider-1.png')
            .swiper-slide(data-color-bg="#ccc, #eee")
              .main-slider-slide
                .main-slider-slide__text
                  .main-slider-slide__title Скидка 15% на консультацию
                  .main-slider-slide__subtitle Акция! С 22 октября скидка на консультацию врача кардиолога – 10%.⠀Вас беспокоит боль в груди или затруднение дыхание? Не откладывайте посещение кардиолога, решайте проблему уже сегодня!
                .main-slider-slide__image: +bgimage('./img/common/main-slider-1.png')
            .swiper-slide(data-color-bg="#84B1AC, #B6D9D5")
              .main-slider-slide
                .main-slider-slide__text
                  .main-slider-slide__title Скидка 10% на консультацию врача кардиолога
                  .main-slider-slide__subtitle Акция! С 22 октября скидка на консультацию врача кардиолога – 10%.⠀Вас беспокоит боль в груди или затруднение дыхание? Не откладывайте посещение кардиолога, решайте проблему уже сегодня!
                .main-slider-slide__image: +bgimage('./img/common/main-slider-1.png')
        .swiper-main-slider__dots
        .swiper-main-slider__nav
          .swiper-main-slider__nav-prev: +icons('#ic_arr-left', 18)
          .swiper-main-slider__nav-next: +icons('#ic_arr-right', 18)

  section.section-our-services
    .container
      .our-services
        .our-services__left
          .our-services__title Наши услуги
          .our-services__subtitle Мы горды тем, что свое здоровье, здоровье своих родных и близкиз Вы доверяете врачам медицинского центра!
          .our-services__btn
            a(href='#'): button.btn.btn-line.btn-arrow
              span Все услуги центра
              span: +icons('#ic_arr-right', 12)
        .our-services__right
          .our-services-list
            each item in services
              .our-services-item
                .our-services-item__wrp
                  .our-services-item__image: a(href="#"): +bgimage(item.image)
                  .our-services-item__title: a(href="#")= item.title
                  .our-services-item__desc= item.desc
                  .our-services-item__btn: a(href='#') Подробнее

  section.about 
    .about__wrp 
      .swiper-container 
        .swiper-wrapper
          .swiper-slide
            .about-slide
              .about-slide__left
                .about-slide__title О центре
                .about-slide__subtitle Мы горды тем, что свое здоровье, здоровье своих родных и близкиз Вы доверяете врачам медицинского центра!
                .about-slide__image
                  +bgimage('/img/gallery/5.jpg')
          .swiper-slide
            .about-slide: +bgimage('/img/gallery/14.jpg')
          .swiper-slide
            .about-slide: +bgimage('/img/gallery/10.jpg')
          .swiper-slide
            .about-slide: +bgimage('/img/gallery/11.jpg')
          .swiper-slide
            .about-slide: +bgimage('/img/gallery/6.jpg')
          .swiper-slide
            .about-slide
              .about-slide__right
                .about-slide__title Медицинский центр <br> «Генез»
                  .about-slide__subtitle 
                    p С момента, когда медицинский центр принял своего первого паци­ента, у нас сложился коллек­тив, который отличает высо­кий профессиональный уро­вень, любовь к своему делу, творческий энтузиазм.
                    p Мы макси­мально используем весь опыт, наработанный потенциал, знания современной медицины и воз­можности новейших аппаратных комплексов для завоевания вашего доверия. До мелочей продумав организацию медцентра, мы позаботились о том, чтобы он стал не только идеальным лечебным учреждением, но и местом активного отдыха.
                    p Мы горды тем, что свое здоровье, здоровье своих родных и близкиз Вы доверяете врачам медицинского центра «Генез»!
                  .about-slide__btn
                    a(href='#'): button.btn.btn-line.btn-arrow
                      span Все услуги центра
                      span: +icons('#ic_arr-right', 12)






    .about-mouse-circle
    .about-mouse
      .about-mouse__icon: +icons('#ic_about-mouse')
      .about-mouse__text Продолжайте <br> листать



  section.section-our-doctor
    .container
      .our-doctor
        .our-doctor__left
          .our-doctor__title Врачи
          .our-doctor__subtitle Мы горды тем, что свое здоровье, здоровье своих родных и близкиз Вы доверяете врачам медицинского центра!
          .our-doctor__btn
            a(href='#'): button.btn.btn-line.btn-arrow
              span Все врачи центра
              span: +icons('#ic_arr-right', 12)
        .our-doctor__right
          .our-doctor-list
            each item in doctor
              .our-doctor-item
                .our-doctor-item__wrp
                  .our-doctor-item__image: +bgimage(item.image)
                  .our-doctor-item__title!= item.title
                  .our-doctor-item__desc!= item.desc

  section.section-news
    .container
      .news
        .news__wrp.no-js(data-tabs="news")
          .news__tabs
            ul
              li.tab-link.active Новости
              li.tab-link Акции

            .all-news
              a(href='#'): button.btn.btn-line.btn-arrow
                span Все новости центра
                span: +icons('#ic_arr-right', 12)


          .news__content
            .news__item-tab.tab-content.active
              .news__list
                .swiper-container
                  .swiper-wrapper
                    each item in news
                      .swiper-slide
                        .news__item: +item-news(item)
            .news__item-tab.tab-content  
              .news__list
                .swiper-container
                  .swiper-wrapper
                    each item in action
                      .swiper-slide
                        .news__item: +item-news(item)
block footer
  footer
    .container
      .footer
        .footer-col.footer-col--services
          .footer-col__title Усгуги центра
          .footer-col__content
            ul
              li: a(href='#') Кардиология
              li: a(href='#') Эндокринология
              li: a(href='#') Гинекология
              li: a(href='#') Ультрозвуковая диагностика
              li: a(href='#') Урология
              li: a(href='#') Функциональная диагностика
              li: a(href='#') Психиатрия

        .footer-col.footer-col--info
          .footer-col__title Подробнее о центре
          .footer-col__content
            ul
              li: a(href='#') О центре 
              li: a(href='#') Врачи
              li: a(href='#') Инфоцентр
              li: a(href='#') Контакты

        .footer-col.footer-col--social
          .footer-col__title  
          .footer-col__content
            ul.social-link
              li: a(href='#'): +icons('#ic_ig')
              li: a(href='#'): +icons('#ic_vk')
              li: a(href='#'): +icons('#ic_fb')

        .footer-col
          .footer-col__title Подпишитесь на наши новости
          .footer-col__content
            .footer-form
              form(action='#' method='POST')
                .email-submit
                  .email-submit__input: input(type="email" placeholder="Введите ваш email")
                  .email-submit__btn: button(type="submit"): +bgimage('./img/svg/ic_ok.svg')
            .footer-info
              .footer__phone
                .footer-phone
                  .footer-phone__active(data-modal="phone")
                    a 8 500 700 60 60
                    +icons('#ic_arr-down', 12)
                  .footer-phone__list
                    ul
                      li: a(href='tel:85007006060') 8 500 700 60 60
                      li: a(href='tel:85007006060') 8 800 700 60 60
                      li: a(href='tel:85007006060') +7 910 700 60 60
              .footer__worktime: span Сегодня работаем с 8.00 до 20.00
  .footer-dev
    a(href='#')
      span.dev-text Digital-агентство
      +bgimage('./img/common/logo-dev.svg')




block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
