* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.header {

    padding: rem(35);

    @media screen and (max-width: $w760) {
        padding: 18px 2.1875rem;
    }

    & a {
        color: #575757;
    }



    & .container {
        display: flex;
        align-items: center;

        @media screen and (max-width: $w480) {
            padding: 0;
        }

        &>div {
            margin-right: rem(30);

            &:last-child {
                margin-right: rem(0);
            }
        }
    }

    &__logo {
        padding-right: 2%;

        @media screen and (max-width: $w1024) {
            max-width: 135px;
        }

        & img {

            @media screen and (max-width: $w760) {
                min-width: 120px;
                width: 120px;
            }

            @media screen and (max-width: $w480) {
                min-width: 90px;
                width: 90px;
            }
        }
    }

    &__info {
        @media screen and (max-width: $w1440) {
            margin-left: auto;
        }

        @media screen and (max-width: $w760) {
            margin-right: rem(60) !important;
        }
    }

    &__menu {
        @media screen and (min-width: $w1440) {
            display: none;
        }

        position: absolute;
        right:0;
        top: 0;
        z-index: 12;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        & .burger i {
            background: #fff !important;
        }
    }

    &__nav {

        flex-grow: 1;

        @media screen and (max-width: $w1440) {
            position: absolute;
            margin: 0;
            padding: 0;
            right: 0;
            top: 0;
            width: 80px;
            height: 80px;
            background-color: $main;
            border-bottom-left-radius: 100%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
            animation: not-checked-anim .2s both;
            transition: .2s;
            margin-right: 0 !important;
            z-index: 10;
            overflow: hidden;

            @media screen and (max-width: $w480) {
                width: 70px;
                height: 70px;
            }

            & .header__info,
            & .header__signup {
                display: none;
            }

            &.open {
                animation: checked-anim 0.8s ease both;


                & nav {
                    width: 100vw;
                    height: 100vh;
                    max-width: 100vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: 1;

                    & li {
                        & a {
                            color: #fff;
                        }

                        & svg {
                            fill: #fff;
                        }
                    }

                }

                & .header__info {
                    margin: 20px auto !important;
                    display: block;
                }

                & .header__signup {
                    display: block;
                }

                & .header-phone__active {
                    justify-content: center;
                    color: #fff;
                    display: flex;

                    & a {
                        color: #fff;


                    }

                    & svg {
                        fill: #fff
                    }
                }

                & .header__worktime {
                    margin: 0;
                    display: flex;

                    & span {
                        @media screen and (max-width: $w1440) {
                            color: #fff;
                            border-bottom: 1px dashed #fff;
                        }
                    }

                    &::before {
                        background-color: transparent;
                    }
                }

                & .btn {
                    color: $lgreen;
                    background-color: #fff;
                    font-weight: bold;
                    border-color: #fff;
                }

                & ul {
                    display: flex;
                    flex-direction: column;
                    max-width: 100vw;

                    & a {
                        color: #fff;
                        @include font-size-16();
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        padding: 20px 0;

                        & .btn {
                            @include font-size-16();
                            font-weight: 500;

                            background-color: #fff;
                            color: #000;
                        }
                    }
                }

                & li {
                    display: block;
                    width: 100vw;
                    margin-right: 0;
                    opacity: 1;
                    transition: opacity 0.3s ease 0.6s;

                }

            }


        }

        & nav {

            @media screen and (max-width: $w1440) {
                opacity: 0;
            }

            & li {

                & a {

                    display: flex;
                    align-items: center;
                    height: rem(54);
                    padding-top: 0.4em;
                    padding-left: 1.8em;
                    padding-right: 1.8em;
                    white-space: nowrap;
                    @include font-size-14();
                    color: $gray;

                    @media screen and (max-width: $w1660) {
                        @include font-size-14();

                        padding-top: 0.28em;
                        padding-left: 1.6em;
                        padding-right: 1.6em;
                    }

                    @media screen and (max-width: $w1440) {
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    & svg {
                        margin-right: rem(10);
                        margin-top: -0.15em;
                        fill: $lgray;

                        @media screen and (max-width: $w1440) {
                            fill: #fff;
                        }
                    }


                }

                &.menu {
                    & a {

                        height: rem(52);
                        border-radius: 30px;
                        padding-top: 0.3em;

                        color: #000;
                    }

                    & svg {
                        fill: $lblue;
                    }
                }
            }

            & ul {
                display: flex;
                align-items: center;
            }
        }
    }

    &__worktime {
        padding-top: rem(13);
        margin-right: rem(22);
        line-height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;

        @include font-size-14();
        color: $gray;



        @media screen and (max-width: $w480) {
            display: none;
        }



        & span {
            border-bottom: 1px dashed #575757;



            @media screen and (max-width: $w480) {
                font-size: 12px
            }

        }

        &::before {
            content: '';
            width: 0.36em;
            min-width: 0.36em;
            height: 0.36em;

            background-color: $lgreen;
            border-radius: 50%;
            display: inline-block;
            margin-right: rem(7);
            margin-top: -0.35em;

        }
    }


    &__signup {

        & .btn {

            font-weight: 300;

            padding-top: 1.1em;


        }

        @media screen and (max-width: $w760) {
            display: none;
        }
    }



}

.swiper-wrapper,
.swiper-slide,
.swiper-container {
    height: 100%;
}

#slideContainer {
    display: flex;
}

@keyframes checked-anim {
    50% {
        width: 1440px;
        height: 1440px;
    }

    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes not-checked-anim {
    0% {
        width: 1440px;
        height: 1440px;
    }
}

.header-phone {

    &__list {

        & [data-fancybox-close=""] {
            display: none;
        }

        padding: 0;

        & ul {
            display: flex;
            flex-direction: column;

            & li {

                border-top: 1px solid $lgreen;
                padding: 10px 0;

                &:first-child {

                    & a {
                        border-top: none;
                    }
                }

                & span {
                    font-size: 13px;
                    color: #888;
                    padding-left: 80px;
                    display: block;
                    margin-top: -10px;
                }

            }

            & a {
                display: flex;
                align-items: center;
                padding: 0px 30px;

                & span {
                    font-size: 20px;

                    font-weight: bold;
                    color: $lgreen;
                    padding: 15px 0;

                    display: block;
                }

                & svg {
                    fill: $lgreen;
                    margin-right: rem(25);
                    width: 20px;
                    height: 20px;
                    margin-top: -6px;
                }


            }
        }
    }

    &__active {

        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media screen and (max-width: $w360) {
            display: none;
        }

        & a {

            font-size: rem(20);
            line-height: 100%;
            color: #000000;

            @media screen and (max-width: $w480) {
                font-size: rem(18);
                white-space: nowrap;
            }
        }

        & svg {
            margin-left: rem(10);
            width: rem(12);
            min-width: rem(12);
        }
    }

    &__list {
        display: none;
    }
}

.main-slider {

    position: relative;
    max-width: 1622px;
    margin: 0 auto;
    border-radius: 0 80px 0 80px;
    overflow: hidden;

    @media screen and (max-width: $w1280) {
        border-radius: 0 40px 0 40px;
    }

    @media screen and (max-width: $w760) {
        padding-top: rem(50);
        border-radius: 0 0 0 0;
    }

    &__bg {
        background: linear-gradient(104.26deg, #99B6C6 -4.69%, rgba(153, 182, 198, 0) 60.13%), #BCD8E5;
        padding-top: 33%;
        transition: 2s ease;

        @media screen and (max-width: $w760) {
            @include layer(1);
            padding-top: 0%;
        }
    }

    &__content {
        @include layer(1);

        @media screen and (max-width: $w760) {
            position: relative;
            z-index: 2;

        }

        display: flex;
        align-items: flex-end;

        .swiper-wrapper {
            @media screen and (max-width: $w760) {
                align-items: flex-end;
            }
        }
    }
}

.main-slider-slide {

    @include row-flex;
    max-width: 1240px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    height: 100%;

    &__text {
        @include col;
        @include size-w760(6);

        display: flex;
        flex-direction: column;
        justify-content: center
    }

    &__image {
        @include col;
        @include size-w760(6);
    }

    &>div {
        height: 100%;

        @media screen and (max-width: $w760) {
            width: 100%;
        }
    }

    &__image {
        & .bgimage {
            height: 100%;
            @include bgimage-contain;
            background-position: center bottom;

            @media screen and (max-width: $w760) {
                padding-top: 50%;
            }

            @media screen and (max-width: $w580) {
                padding-top: 80%;
            }
        }
    }

    &__title {
        @include section-title;

        transform: translateY(10px);
        opacity: 0;
        transition: 0.6s ease 0.8s;
    }

    &__subtitle {
        @include font-size-16();
        line-height: 170%;
        padding-top: rem(30);

        transform: translateY(10px);
        opacity: 0;
        transition: 0.6s ease 1s;

        @media screen and (max-width: $w940) {
            font-size: rem(15);
        }
    }


}

.swiper-slide-active {

    & .main-slider-slide__title,
    & .main-slider-slide__subtitle {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes swiper-progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}


.swiper-main-slider {

    &__dots {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        bottom: rem(25);
        justify-content: center;
        z-index: 3;

        & .swiper-pagination-bullet {
            width: rem(12);
            min-width: rem(12);
            height: rem(12);
            background-color: #fff;
            opacity: 1;
            border-radius: 15px;
            margin: 0 rem(5);
            border: 4px solid #fff;
            transition: 0.3s ease;
            position: relative;

            & span {
                width: 0%;
                background-color: #fff;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                border-radius: 5px;


                transition-timing-function: ease;
                transition-property: width;
            }
        }

        & .swiper-pagination-bullet-active {
            width: rem(50);
            min-width: rem(12);
            background-color: #D9D9D9;
            position: relative;

            & span {
                width: 100%;
                background-color: $lgreen;

                animation-name: swiper-progress-bar;
                animation-timing-function: ease;
            }
        }
    }

    &__nav {
        position: absolute;
        top: 50%;
        height: 0px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 3;

        &-prev,
        &-next {
            width: rem(50);
            height: rem(55);
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            & svg {
                fill: $lgreen;
            }
        }

        &-prev {
            border-radius: 0 30px 30px 0;
        }

        &-next {
            border-radius: 30px 0 0 30px;
        }

        & .swiper-button-disabled {
            & svg {
                fill: #ccc;
            }
        }

    }

}

.section-our-services,
.section-our-doctor {
    padding-top: rem(90);
    padding-bottom: rem(90);

    @media screen and (max-width: $w760) {
        padding-bottom: rem(30);
        padding-top: rem(30);
    }
}

.our-services,
.our-doctor {
    @include row-flex;

    &__left {
        @include col;
        @include size-w1024(3);

        @include size(12);

        @media screen and (max-width: $w1024) {
            margin-bottom: rem(60)
        }
    }

    &__right {
        @include col;
        @include size-w1024(9);
        @include size(12)
    }

    &__title {
        @include section-title();
    }

    &__subtitle {
        @include section-subtitle();
    }

    &__btn {
        padding-top: rem(25)
    }
}

.our-services-list,
.our-doctor-list {
    @include row-flex;
}

.our-services-item {
    @include col;
    @include size-w1024(4);
    @include size-w480(6);
    @include size(12);


    &__wrp {
        margin-bottom: rem(60);
    }

    &__image {
        & .bgimage {
            padding-top: 70%;
            @include bgimage-cover;

            &:hover {
                transition: 0.3s cubic-bezier(.18, .89, .32, 1.28);
                transform: translateY(-5px);
            }
        }


    }

    &__title {
        @include block-title();

        padding-top: rem(20);
    }

    &__desc {
        color: #575757;
        @include font-size-14();
        line-height: 170%;

        padding-top: rem(20);
    }

    &__btn {

        padding-top: rem(15);

        & a {

            @include font-size-16();
            line-height: 16px;
            text-transform: uppercase;
            color: #40857D;
            padding-bottom: rem(8);
            border-bottom: 1px solid #B9B9B9;
        }
    }
}

.our-doctor-item {
    @include col;
    @include size-w1024(4);
    @include size-w480(6);
    @include size(12);



    &__image {
        & .bgimage {
            padding-top: 110%;
            @include bgimage-cover;
        }
    }

    &__wrp {
        margin-bottom: rem(60);
    }

    &__title {
        @include block-title();

        padding-top: rem(15);
    }

    &__desc {
        color: #575757;
        @include font-size-14();
        line-height: 170%;

        padding-top: rem(15);
    }

    &__btn {

        padding-top: rem(15);

        & a {

            @include font-size-16();
            line-height: 16px;
            text-transform: uppercase;
            color: #40857D;
            padding-bottom: rem(8);
            border-bottom: 1px solid #B9B9B9;
        }
    }
}

.section-news {
    padding-top: rem(70);
    padding-bottom: rem(70);

    background-color: $lightGray;

    @media screen and (max-width: $w760) {
        padding-top: rem(30);
        padding-bottom: rem(30);
    }
}

.all-news {
    @media screen and (max-width: $w760) {
        padding-top: rem(35);
    }
}

.news {
    &__list {
        // @include row-flex;
    }

    &__item {
        // @include col;
        // @include size-w1024(3);
        // @include size-w940(4);
        // @include size-w480(6);

        margin-bottom: rem(50);
    }

    &__item-tab {
        display: none;

        &.active {
            display: block;
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;

        @media screen and (max-width: $w760) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & ul {
            display: flex;
            align-items: center;
        }

        & li {
            @include section-title();
            margin-right: rem(65);
            color: #575757;
            border-bottom: 1px dashed #575757;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }

            &:last-child {
                margin-right: rem(0);
            }

            &.active {
                color: #000;
                border-bottom: 1px dashed transparent;
            }
        }
    }
}

.tab-content {
    display: none;
    -webkit-animation: .4 slide-up;
    animation: .4s slide-up;
}

.about {

    //cursor: none;
    overflow: hidden;

    position: relative;
    overflow: visible;
    background-color: $lightGray;

    padding-top: rem(100);
    padding-bottom: rem(100);

    width: 100%;
    overflow: hidden;

    @media screen and (max-width: $w1440) {
        padding-top: rem(60);
        padding-bottom: rem(60);
    }

    &__wrp {
        & .swiper-slide {


            &:first-child {

                padding-left: rem(0);

                & .about-slide__left {

                    & .about-slide__image {

                        & .bgimage {
                            border-radius: 10px;
                            overflow: hidden;
                        }

                        @media screen and (min-width: $w940) {
                            margin-top: rem(40);
                            max-width: 75%
                        }
                    }
                }
            }

            &:last-child {

                padding-left: rem(0);

                & .about-slide__right {

                    @media screen and (min-width: $w760) {
                        display: flex;

                        & .about-slide__image {
                            margin-top: auto;
                            max-width: 100%;
                            margin-left: auto;
                            margin-bottom: 0;
                            width: 100%
                        }
                    }
                }
            }
        }
    }
}

.about-slide {


    padding: 0 rem(20);

    @media screen and (max-width: $w1440) {
        padding: 0 rem(30);

    }



    &__left {}

    &__right {




        @media screen and (max-width: $w760) {
            // padding-top: rem(60);
        }
    }

    &__image {
        & .bgimage {
            @include box-square;
            background-color: #ddd;
            @include bgimage-cover;
            width: 100%;
            border-radius: rem(80) 0;
        }

        width: 100%;

    }



    &__title {
        @include section-title();
    }

    &__subtitle {
        @include section-subtitle();
        margin-bottom: rem(40);

        & p {
            margin-bottom: rem(20);
        }
    }

    &__btn {
        padding-top: rem(35);

        & a {
            cursor: none;
            display: inline;
        }

        & .btn {
            cursor: none;
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }
}

.scroll-slide-left {
    // transform: translateX(20px);
    // opacity: 0;
    transition: 0.7s ease;
    padding-left: rem(50);

    @media screen and (max-width: $w760) {
        padding-left: rem(0);
    }
}

.scroll-slide-left.open {
    transform: translateX(0);
    opacity: 1;
}

@keyframes mouse {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0);
    }
}

.about-mouse-circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    z-index: 15;
    border-radius: 50%;
    top: -6rem;
    left: 0;
    pointer-events: none;

    display: none;


    @media screen and (max-width: $w1440) {
        top: -4rem;
    }
}

.scale-06 {
    transform: scale(0.8);
}

.about-mouse {
    width: rem(195);
    height: rem(195);
    background-color: #fff;
    border-radius: 0 rem(60);
    border: 2px solid $main;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: auto;
    z-index: 10;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4vw;

    @media screen and (max-width: $w940) {
        width: rem(145);
        height: rem(145);
    }




    &__text {
        text-align: center;
        @include font-size-16();
        line-height: 150%;
        text-transform: uppercase;
        color: $main;
        width: 100%;

        @media screen and (max-width: $w940) {
            font-size: 12px;
        }
    }

    &__icon {

        margin-bottom: rem(10);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -1px;
            top: 11px;
            width: 3px;
            height: 7px;
            background: $main;
            //-webkit-animation: mouse-wheel 1.25s linear infinite;
            //animation: mouse-wheel 1.25s linear infinite;
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            // -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .4);
            // box-shadow: 0 0 1px rgba(0, 0, 0, .4);
            z-index: 2;

        }

        & svg {
            width: rem(75);
            height: rem(45);
            position: relative;
            z-index: 1;

            @media screen and (max-width: $w940) {
                width: rem(65);
                height: rem(35);
            }

            //animation: mouse 1.2s linear infinite;
        }
    }
}

.cursor {


    &__ball {
        position: fixed;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        z-index: 1000;
        width: 0px;
        height: 0px;
        background-color: #000;

        circle {
            fill: #fff;
        }
    }
}



.about-container {
    display: flex;

    padding-left: rem(125);

}

.about-slide {


    justify-content: center;
    margin: 0 auto;

    display: flex;
    align-items: flex-end;

    & .bgimage {
        padding-top: 87%;
        width: 100%;
        @include bgimage-cover;
        border-radius: rem(80) 0;

        max-width: rem(790);
        margin-right: auto;

        @media screen and (max-width: $w940) {
            border-radius: rem(40) 0;
        }
    }

    &:nth-last-of-type(2) {
        opacity: 1 !important;
    }

    @media screen and (max-width: $w940) {
        width: 100vw;
        min-width: 100vw;
        padding: 0 rem(2.6vw);
    }
}




@media screen and (min-width: $w1440) {
    .about__wrp .swiper-slide:first-child {
        padding-left: 120px;
    }
}

.page {
    &__breadcrumb {
        padding-top: 30px;
    }

    &__title {
        font-family: New_Channel_Font;
        line-height: 120%;
        color: #000000;

        & h1 {
            @include font-size-48();
        }
    }
}