.services {
    &__item {
        margin-bottom: rem(30);
    }
}

.services-card {
    display: flex;
    background-color: #FAFAFA;
    border-radius: 0px 60px;
    overflow: hidden;

    & div {
        width: 50%;
        max-width: 50%;
    }

    &__main {
        padding: rem(80);

        @media screen and (max-width: $w1440) {
            padding: rem(80);
        }
    }

    &__title {
        font-size: rem(48);
        line-height: 120%;
        font-family: New_Channel_Font;
    }

    &__desc {
        font-style: normal;
        font-weight: normal;
        @include font-size-14();
        line-height: 170%;
        color: #575757;
        padding-top: rem(30);
        font-family: Glober;
    }

    &__link {

        padding-top: rem(15);

        & a {
            @include font-size-16();
            line-height: 16px;
            font-family: New_Channel_Font;
            text-transform: uppercase;
            color: #40857D;
            padding-bottom: rem(8);
            border-bottom: 1px solid #B9B9B9;
        }
    }

    &__image {

        position: relative;

        & .bgimage {
            @include layer(1);
            background-size: cover;
        }

        &::before {
            @include layer(2);
            content: '';
            background: linear-gradient(100.48deg, #FAFAFA 30.42%, rgba(250, 250, 250, 0) 60.56%), url(image.png);
        }
    }
}