- 
  const services = [
    {
      'image':'',
      'title':'Кардиология',
      'desc':'Мы горды тем, что свое здоровье, здоровье своих родных и близкиз Вы доверяете врачам медицинского',
    }, 
    {
      'image':'',
      'title':'УЗИ',
      'desc':'Мы горды тем, что свое здоровье, здоровье своих родных и близкизм медицинского',
    }, 
    {
      'image':'',
      'title':'Гинекология',
      'desc':'Вы доверяете врачам медицинского свое здоровье, здоровье своих родных и близких',
    }, 
    {
      'image':'',
      'title':'Кардиология',
      'desc':'Мы горды тем, что свое здоровье, здоровье своих родных и близкиз Вы доверяете врачам медицинского',
    }, 
    {
      'image':'',
      'title':'УЗИ',
      'desc':'Мы горды тем, что свое здоровье, здоровье своих родных и близкизм медицинского',
    }, 
    {
      'image':'',
      'title':'Гинекология',
      'desc':'Вы доверяете врачам медицинского свое здоровье, здоровье своих родных и близких',
    }, 

  ];

  const doctor = [
    {
      'image':'',
      'title':'Cеменов <br> Павел Владимирович',
      'desc':'Кардиолог',
    }, 
    {
      'image':'',
      'title':'Cеменов <br> Павел Владимирович',
      'desc':'Гинеколог',
    }, 
    {
      'image':'',
      'title':'Cеменов <br> Павел Владимирович',
      'desc':'Уролог',
    }, 

  ];

  const news = [
    {
      "image": "/img/news/1.webp",
      "title": "График работы 7-10 мая",
      "desc": 'Мы горды тем, что свое здоровье, здоровье своих родных и близкиз Вы доверяете врачам медицинского',
    },
    {
      'image': '/img/news/2.webp',
      'title': 'Рождественский подарок флеболога Кардиса А.И.',
      'desc': 'Мы горды тем, что свое здоровье, здоровье своих родных и близкиз Вы доверяете врачам медицинского',
    },
    {
      'image': '/img/news/3.webp',
      'title': 'Изменение условий предоставления скидок постоянным клиентам',
      'desc': 'Мы горды тем, что свое здоровье, здоровье своих родных и близкизм медицинского',
    },
    {
      'image': '/img/news/4.webp', 
      'title': 'Порядок вакцинирования ',
      'desc': 'Вы доверяете врачам медицинского свое здоровье, здоровье своих родных и близких',
    },

  ];

  const action = [
    {
      "image": "/img/news/1.webp",
      "title": "Новое кресло US MEDICA Jet",
      "desc": 'Именно тот случай, когда качество доступно!',
    },
    {
      'image': '/img/news/2.webp',
      'title': 'Новая консоль от Life Fitness!',
      'desc': 'Требуется талантливый офис-менеджера по продаже дверей',
    },
    {
      'image': '/img/news/3.webp',
      'title': 'Основы тренировки на эллиптическом тренажере',
      'desc': 'Вдохновения Вам на собственные победы!',
    },
    {
      'image': '/img/news/4.webp', 
      'title': 'Новая линейка тренажеров мирового бренда Cybex',
      'desc': 'Вдохновения Вам на собственные победы!',
    },

  ];