@font-face {
	font-family: 'Glober';
	src: url('/fonts/Glober/GloberRegular.eot');
	src: url('/fonts/Glober/GloberRegular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Glober/GloberRegular.woff2') format('woff2'),
		url('/fonts/Glober/GloberRegular.woff') format('woff'),
		url('/fonts/Glober/GloberRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Glober';
	src: url('/fonts/Glober/GloberBold.eot');
	src: url('/fonts/Glober/GloberBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Glober/GloberBold.woff2') format('woff2'),
		url('/fonts/Glober/GloberBold.woff') format('woff'),
		url('/fonts/Glober/GloberBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Glober';
	src: url('/fonts/Glober/GloberRegular_1.eot');
	src: url('/fonts/Glober/GloberRegular_1.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Glober/GloberRegular_1.woff2') format('woff2'),
		url('/fonts/Glober/GloberRegular_1.woff') format('woff'),
		url('/fonts/Glober/GloberRegular_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Glober';
	src: url('/fonts/Glober/GloberLight.eot');
	src: url('/fonts/Glober/GloberLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Glober/GloberLight.woff2') format('woff2'),
		url('/fonts/Glober/GloberLight.woff') format('woff'),
		url('/fonts/Glober/GloberLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Glober';
	src: url('/fonts/Glober/GloberSemiBold.eot');
	src: url('/fonts/Glober/GloberSemiBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Glober/GloberSemiBold.woff2') format('woff2'),
		url('/fonts/Glober/GloberSemiBold.woff') format('woff'),
		url('/fonts/Glober/GloberSemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

//new channel

@font-face {
	font-family: 'New_Channel_Font';
	src: url('/fonts/NewChannel/New_Channel_Font-Medium.eot');
	src: url('/fonts/NewChannel/New_Channel_Font-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NewChannel/New_Channel_Font-Medium.woff2') format('woff2'),
		url('/fonts/NewChannel/New_Channel_Font-Medium.woff') format('woff'),
		url('/fonts/NewChannel/New_Channel_Font-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}